page-categoryitems {
       .content-margin{margin-top:4em !important;}
       .scroll-content{ background-color: #f5f3de!important; }
.card-md {
    border-radius: 2px;
    width: calc(100% - 20px);
    height:120px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.phone{
    position: absolute;
    top: 90px;
    left: 124px;
    font-size:28px;
}
.car{
    position: absolute;
    top: 90px;
    left: 124px;
    font-size:28px;
}
.aperture{
    position: absolute;
    top: 90px;
    left: 124px;
    font-size:28px;
}
.title{
    position: absolute;
    top: 90px;
    left: 160px;
    font-size:28px;
}
}
